In [77]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

upload csv

In [78]:
data = pd.read_csv('robosheet2.csv')

In [79]:
data

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,...,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,No
145456,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,No
145457,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,No
145458,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No
145459,2017-06-25,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,...,62.0,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No,NaN

In [80]:
data.dtypes

Date              object
Location          object
MinTemp          float64
MaxTemp          float64
Rainfall         float64
Evaporation      float64
Sunshine         float64
WindGustDir       object
WindGustSpeed    float64
WindDir9am        object
WindDir3pm        object
WindSpeed9am     float64
WindSpeed3pm     float64
Humidity9am      float64
Humidity3pm      float64
Pressure9am      float64
Pressure3pm      float64
Cloud9am         float64
Cloud3pm         float64
Temp9am          float64
Temp3pm          float64
RainToday         object
RainTomorrow      object
dtype: object

there are two types of columns here, categorical and numeric all non numeric 'object' type columns are categorical ones. first we deal with missing values of numeric columns

handle nan and missing values

In [81]:
# Handling missing values for numerical columns by replacing with mean
numerical_cols = ['MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation', 'Sunshine', 'WindGustSpeed', 
                  'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm', 'Pressure9am', 
                  'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am', 'Temp3pm']

In [82]:
for col in numerical_cols:
    if data[col].dtype != 'object':  # Check if column is numerical
        mean_value = data[col].mean()
        data[col].fillna(mean_value, inplace=True)

check datatype of each coulmn

In [83]:
print(data.isnull().sum()) #to check for missing values

Date                 0
Location             0
MinTemp              0
MaxTemp              0
Rainfall             0
Evaporation          0
Sunshine             0
WindGustDir      10326
WindGustSpeed        0
WindDir9am       10566
WindDir3pm        4228
WindSpeed9am         0
WindSpeed3pm         0
Humidity9am          0
Humidity3pm          0
Pressure9am          0
Pressure3pm          0
Cloud9am             0
Cloud3pm             0
Temp9am              0
Temp3pm              0
RainToday         3261
RainTomorrow      3267
dtype: int64

In [84]:
data

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.900000,0.6,5.468232,7.611178,W,44.00000,W,...,71.0,22.0,1007.7,1007.1,8.000000,4.50993,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.100000,0.0,5.468232,7.611178,WNW,44.00000,NNW,...,44.0,25.0,1010.6,1007.8,4.447461,4.50993,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.700000,0.0,5.468232,7.611178,WSW,46.00000,W,...,38.0,30.0,1007.6,1008.7,4.447461,2.00000,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.000000,0.0,5.468232,7.611178,NE,24.00000,SE,...,45.0,16.0,1017.6,1012.8,4.447461,4.50993,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.300000,1.0,5.468232,7.611178,W,41.00000,ENE,...,82.0,33.0,1010.8,1006.0,7.000000,8.00000,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-21,Uluru,2.8,23.400000,0.0,5.468232,7.611178,E,31.00000,SE,...,51.0,24.0,1024.6,1020.3,4.447461,4.50993,10.1,22.4,No,No
145456,2017-06-22,Uluru,3.6,25.300000,0.0,5.468232,7.611178,NNW,22.00000,SE,...,56.0,21.0,1023.5,1019.1,4.447461,4.50993,10.9,24.5,No,No
145457,2017-06-23,Uluru,5.4,26.900000,0.0,5.468232,7.611178,N,37.00000,SE,...,53.0,24.0,1021.0,1016.8,4.447461,4.50993,12.5,26.1,No,No
145458,2017-06-24,Uluru,7.8,27.000000,0.0,5.468232,7.611178,SE,28.00000,SSE,...,51.0,24.0,1019.4,1016.5,3.000000,2.00000,15.1,26.0,No,No
145459,2017-06-25,Uluru,14.9,23.221348,0.0,5.468232,7.611178,NaN,40.03523,ESE,...,62.0,36.0,1020.2,1017.9,8.000000,8.00000,15.0,20.9,No,NaN

handling categorical columns

one hot encoding is to convert categorical columns into binary

In [85]:
# Assuming 'data' is your DataFrame and 'categorical_cols' contains the categorical column names
categorical_cols = ['WindGustDir', 'WindDir9am', 'WindDir3pm', 'RainToday', 'RainTomorrow']

# Replace missing categorical values with the mode (most frequent value) of each column
for col in categorical_cols:
    mode_val = data[col].mode()[0]  # Calculate mode value
    data[col].fillna(mode_val, inplace=True)  # Replace missing values with mode

In [86]:

# Perform one-hot encoding for categorical columns
data = pd.get_dummies(data, columns=categorical_cols)

# # Convert all columns to numeric
# for col in data.columns:
#     data[col] = pd.to_numeric(data[col], errors='coerce')

# # Now all columns will be converted to numeric types where possible

In [87]:
data

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,...,WindDir3pm_SSE,WindDir3pm_SSW,WindDir3pm_SW,WindDir3pm_W,WindDir3pm_WNW,WindDir3pm_WSW,RainToday_No,RainToday_Yes,RainTomorrow_No,RainTomorrow_Yes
0,2008-12-01,Albury,13.4,22.900000,0.6,5.468232,7.611178,44.00000,20.0,24.0,...,False,False,False,False,True,False,True,False,True,False
1,2008-12-02,Albury,7.4,25.100000,0.0,5.468232,7.611178,44.00000,4.0,22.0,...,False,False,False,False,False,True,True,False,True,False
2,2008-12-03,Albury,12.9,25.700000,0.0,5.468232,7.611178,46.00000,19.0,26.0,...,False,False,False,False,False,True,True,False,True,False
3,2008-12-04,Albury,9.2,28.000000,0.0,5.468232,7.611178,24.00000,11.0,9.0,...,False,False,False,False,False,False,True,False,True,False
4,2008-12-05,Albury,17.5,32.300000,1.0,5.468232,7.611178,41.00000,7.0,20.0,...,False,False,False,False,False,False,True,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-21,Uluru,2.8,23.400000,0.0,5.468232,7.611178,31.00000,13.0,11.0,...,False,False,False,False,False,False,True,False,True,False
145456,2017-06-22,Uluru,3.6,25.300000,0.0,5.468232,7.611178,22.00000,13.0,9.0,...,False,False,False,False,False,False,True,False,True,False
145457,2017-06-23,Uluru,5.4,26.900000,0.0,5.468232,7.611178,37.00000,9.0,9.0,...,False,False,False,False,True,False,True,False,True,False
145458,2017-06-24,Uluru,7.8,27.000000,0.0,5.468232,7.611178,28.00000,13.0,7.0,...,False,False,False,False,False,False,True,False,True,False
145459,2017-06-25,Uluru,14.9,23.221348,0.0,5.468232,7.611178,40.03523,17.0,17.0,...,False,False,False,False,False,False,True,False,True,False

In [88]:
print(data.isnull().sum()) #to check for missing values

Date                0
Location            0
MinTemp             0
MaxTemp             0
Rainfall            0
                   ..
WindDir3pm_WSW      0
RainToday_No        0
RainToday_Yes       0
RainTomorrow_No     0
RainTomorrow_Yes    0
Length: 70, dtype: int64

In [89]:
data.to_csv('newrobo2.csv')

In [90]:
# # Assuming 'df' is your DataFrame and 'col' is the categorical column with missing values

# # Replace missing values with the mode of the column
# mode_value = data['Location'].mode()[0]  # Get the mode value
# data['Location'].fillna(mode_value, inplace=True)

In [92]:
import pandas as pd
import numpy as np

# Load your dataset into a DataFrame named 'data'
# ...

def train_test_split_custom(data, test_size=0.2):
    # Create a random mask to split the data into train and test sets
    mask = np.random.rand(len(data)) < (1 - test_size)
    train = data[mask]
    test = data[~mask]
    return train, test

In [93]:
def split_data(data):
    # Split features (X) and target variable (Y)
    X = data.drop(columns=['RainTomorrow'])
    Y = data['RainTomorrow']
    
    # Split the data into train and test sets
    train_data, test_data = train_test_split_custom(data)
    
    # Split train and test sets into features and target variable
    X_train = train_data.drop(columns=['RainTomorrow'])
    Y_train = train_data['RainTomorrow']
    X_test = test_data.drop(columns=['RainTomorrow'])
    Y_test = test_data['RainTomorrow']
    
    # Save the datasets into separate CSV files
    X_train.to_csv('X_train.csv', index=False)
    Y_train.to_csv('Y_train.csv', index=False)
    X_test.to_csv('X_test.csv', index=False)
    Y_test.to_csv('Y_test.csv', index=False)

In [94]:

# Use the function to split and save the dataset
split_data(data)

KeyError: "['RainTomorrow'] not found in axis"

In [ ]:


# Define a function to split the data
def train_test_split_custom(data, test_size=0.2):
    # Calculate the index to split the data
    split_index = int(len(data) * (1 - test_size))
    
    # Shuffle the indices for random selection
    indices = np.random.permutation(data.index)
    
    # Split the indices into train and test sets
    train_indices, test_indices = indices[:split_index], indices[split_index:]
    
    # Create X_train, Y_train, X_test, Y_test
    X_train, X_test = data.iloc[train_indices].drop(columns=['RainTomorrow']), data.iloc[test_indices].drop(columns=['RainTomorrow'])
    Y_train, Y_test = data.iloc[train_indices]['RainTomorrow'], data.iloc[test_indices]['RainTomorrow']
    
    return X_train, Y_train, X_test, Y_test

In [ ]:
# Perform the split
X_train, Y_train, X_test, Y_test = train_test_split_custom(data, test_size=0.2)

# Save the datasets into separate CSV files
X_train.to_csv('X_train.csv', index=False)
Y_train.to_csv('Y_train.csv', index=False)
X_test.to_csv('X_test.csv', index=False)

Y_test.to_csv('Y_test.csv', index=False)